body {
  font-family: "Cinzel Decorative", serif;
}

.body {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 4rem;
  font-weight: 500;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  margin: 40px;
  border-bottom: 2px solid black;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 30px;
  font-weight: 100;
  align-self: end;
  margin: 10px;
  cursor: pointer;
}

img {
  width: 150px;
  height: auto;
}

.books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px 50px;
  gap: 20px;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  max-width: 300px;
}

.book .title {
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
}

.book .author {
  font-size: 0.7em;
  margin-bottom: 6px;
}

.book .status {
  margin-top: 10px;
}
