body {
  font-family: "Cinzel Decorative", serif;
}

.body {
    display: flex;
    flex-direction: column;
}

.header {
  font-size: 4rem;
  font-weight: 500;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  margin: 40px;
  border-bottom: 2px solid black;
}

.header svg {
  width: 24px;  
  height: 24px;
  align-self: end;
  margin: 10px;
  cursor: pointer;
}

img {
  width: 150px;
  height: auto;
}

.books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px 50px;
  gap: 20px;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book .title {
  font-size: 1em;
  font-weight: 500;
}

.book .author {
  font-size: 0.7em;
  margin-bottom: 6px;
}

.book .status {
  margin-top: 10px;
}